#output {
	font-size: 18px;
	margin-bottom: 20px;
}

#inputBox {
	margin-top: 20px;
}

#hintButtons {
	margin-top: 10px;
}

button {
	margin: 5px !important;
}

.hintOn {
	background-color: lightblue;
}
